# vscode
.vscode/*

# build output
dist/*
build/*
server/target

# generated docs
src-server/docs

# npm
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

### OSX template
.DS_Store

# Thumbnails
._*
