.filesviewBase {
    border: 1px solid var(--ant-color-border);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--ant-color-bg-container);
}

.filesviewBase:focus-within {
    box-shadow: 0 0 0 2px var(--ant-control-outline);
}

.filesviewBaseFilelist {
    flex-grow: 1;
}
