html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.WebSSH-Root-Menu.ant-menu-light.ant-menu-root.ant-menu-inline,
.WebSSH-Root-Menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: none;
}

.WebSSH-Root-Content {
    position: relative;
    overflow: hidden;
    border-left: 1px solid var(--ant-color-border);
}
