.pathbar {
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #dfdfdf;
    height: 28px;
    position: relative;
}

.pathbar .anticon {
    color: #2999ea;
}

.pathbarIconBtn {
    z-index: 1;
    width: 28px;
    height: 28px;
    padding: 0 7px;
    color: #2999ea;
    background: #fff;
    border: none;
    border-right: 1px solid #dfdfdf;
    border-radius: 0;
}

.pathbarIconBtn:hover {
    background: linear-gradient(#ffffff, #eeeeee);
}

.pathbarIconBtn:focus,
.pathbarIconBtn:active:focus,
.pathbarIconBtn.active:focus {
    outline: 0;
}

.pathbarIconBtn.active,
.pathbarIconBtn:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px #00000020;
    color: #333;
}

.pathbarIconBtn:last-child {
    border-right: 0;
}

.pathbarRouteList {
    position: absolute;
    left: 0;
    display: flex;
    height: 100%;
    white-space: nowrap;
    line-height: 28px;
}

.pathbarRouteSeparator {
    margin: 0;
    padding: 0 3px;
    cursor: pointer;
}

.pathbarDropdownBtn {
    position: relative;
    z-index: 2;
    width: 25px;
    height: 28px;
    padding: 5px;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.pathbarDropdownBtn:hover,
.pathbarDropdownBtn.hover {
    background: linear-gradient(#ffffff, #eeeeee);
    transition: border-color 0.5s linear;
}

.pathbarDropdownBtn:focus,
.pathbarDropdownBtn:active:focus,
.pathbarDropdownBtn.active:focus {
    outline: 0;
}

.pathbarHomeBox {
    position: relative;
    width: 25px;
    vertical-align: middle;
}

.pathbarHomeBtn {
    border-right: 1px solid transparent;
}
.pathbarHomeBtn:hover,
.pathbarHomeBtn.hover {
    border-right-color: #dfdfdf;
}

.pathbarInputGroup {
    position: relative;
    flex-grow: 1;
}

.pathbarInputContent {
    display: flex;
    align-items: flex-start;
}

.pathbarRouteSelect {
    box-sizing: border-box;
    background-color: #e5f3ff;
    border-right: 1px solid #cce8ff;
    outline: 1px solid #cce8ff;
}

.pathbarInputContentMain {
    position: relative;
    z-index: auto;
    flex-grow: 1;
    height: 28px;
    padding: 0;
    line-height: 28px;
    border: none;
    box-shadow: none;
}

.pathbarRoute:hover {
    box-sizing: border-box;
    background-color: #e5f3ff;
    outline: 1px solid #cce8ff;
}

.pathbarRouteName {
    padding: 0 3px;
    border-right: 1px solid transparent;
}

.pathbarRouteNameLink {
    color: #2999ea;
    cursor: pointer;
}

.pathbarRouteSelect .pathbarRouteName,
.pathbarRoute:hover .pathbarRouteName {
    border-right: 1px solid #cce8ff;
}

.pathbarRoute {
    display: flex;
    transition: background-color 0.26s linear;
}

.pathbarRouteSeparatorDown {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pathbarEditorWrapper {
    display: flex;
}

.pathbarRouteListWrapper {
    overflow: hidden;
}

.pathbarRouteList > span:last-child {
    font-weight: normal;
}

.pathbarRouteListDisable .pathbarRouteNameLink {
    color: #333;
    text-decoration: none;
}

.pathbarRouteListDisable .pathbarRouteNameLink:hover {
    text-decoration: none;
    outline: none;
}

.pathbarRouteListDisable .pathbarRouteSeparator {
    cursor: auto;
}

.pathbarRouteListDisable .pathbarRoute:hover {
    background: none;
    outline: none;
}

.pathbarRouteListDisable .pathbarRoute:hover .pathbarRouteName {
    border-right: 1px solid transparent;
}

.pathbarHistoryBtn {
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid transparent;
}
.pathbarHistoryBtn:hover,
.pathbarHistoryBtn.hover {
    border-left-color: #dfdfdf;
}

.pathbarEditorInput {
    flex-grow: 1;
    border: 0;
}

.pathbarEditorInput:focus {
    outline: 0;
}

.pathbarDropdownMenu {
    position: absolute;
    z-index: 1050;
    display: none;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    box-shadow: 0 6px 12px #0000002d;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pathbarDropdownMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pathbarDropdownMenu > li > div {
    padding: 5px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.pathbarDropdownMenu > li > div:hover,
.pathbarDropdownMenu > li > div:focus {
    background-color: #f5f5f5;
}

.pathbarDropdownMenu .anticon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.pathbarDropdownMenuDirMenu {
    top: 29px;
    left: 0;
    width: 170px;
    max-height: 270px;
    overflow: auto;
}

.pathbarDropdownMenuDirMenuLoading {
    text-align: center;
}

.pathbarDropdownMenuDirMenuSelect {
    font-weight: 700;
}

.pathbarDropdownMenuQuickLinsMenu {
    padding-left: 0;
    color: #666;
    list-style: none;
    border-top: 1px solid #eee;
}

.pathbarDropdownMenuQuickLinsMenu li > div {
    clear: both;
    padding: 5px 12px;
    overflow: hidden;
    color: #666;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.pathbarDropdownMenuQuickLinsMenu li > div:hover {
    background-color: #f5f5f5;
}

.pathbarDropdownMenuQuickLinsMenu li > div > .anticon {
    margin-right: 10px;
}

.pathbarInputSearch {
    width: 120px;
    display: flex;
}

.pathbarInputSearch > input {
    width: 120%;
    padding: 0 10px;
    border: 0;
}

.pathbarInputSearch > input:focus {
    outline: 0;
}

.pathbarInputSearch .pathbarInputSearchClear {
    color: #999;
    line-height: 26px;
    cursor: pointer;
}

.pathbarInputSearch .pathbarInputSearchClear:hover {
    color: #666;
}
