.inputFileTagsContainer {
    padding-right: 42px;
}

.inputFileClear {
    position: absolute;
    top: 53%;
    right: 11px;
    width: 12px;
    height: 12px;
    margin-top: -8px;
}

.inputFileClear {
    right: 35px;
}

.inputFilePlaceholder {
    color: #ccc;
}

.inputFileFileItem {
    padding: 3px 10px;
    display: flex;
}

.inputFileFileItemPath {
    flex-grow: 1;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inputFileFileItemRemove {
    cursor: pointer;
}

.inputFileTagRemove {
    visibility: hidden;
}

.inputFileTagItem:hover .inputFileTagRemove {
    visibility: visible;
}
