.filelist {
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style: none;
    outline: none;
    color: var(--ant-color-text-secondary);
    scrollbar-color: var(--ant-color-fill) var(--ant-color-bg-container);
    scrollbar-width: thin;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.filelist::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.filelist::-webkit-scrollbar-track {
    background-color: var(--ant-color-bg-container);
}

.filelist::-webkit-scrollbar-thumb {
    background-color: var(--ant-color-fill);
    border: 2px solid var(--ant-color-bg-container);
    border-radius: 999px;
}

.filelist::-webkit-scrollbar-thumb:hover {
    background-color: var(--ant-color-fill-secondary);
}

.filelist::-webkit-scrollbar-corner {
    background-color: var(--ant-color-bg-container);
}

.filelist.filelistLoading {
    overflow: unset;
}

.filelist.filelistLoading .filelistTableHeader {
    transform: translatey(0) !important;
}

.filelistEmptyContent {
    position: absolute;
    width: 100%;
    height: 20px;
    color: var(--ant-color-text);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: var(--ant-color-bg-container);
}

.filelistEmptyContent span a {
    color: var(--ant-color-primary);
}

.filelistEmptyContent span a:hover {
    text-decoration: underline;
}

.filelistTableHeaderWrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    background: var(--ant-color-bg-container);
}

.filelistTableBodyWrapper {
    position: relative;
    overflow: hidden;
    color: var(--ant-color-text-tertiary);
    font-size: 12px;
}

.filelistTableBody {
    position: absolute;
    top: 0;
}

.filelistTableColumnHeader {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

.filelistTableColumnTitle {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    text-align: left;
}

.filelistTableColumnSorter {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;
}

.filelistTableColumnSorter .anticon-caret-up,
.filelistTableColumnSorter .anticon-caret-down {
    font-size: 10px;
}

.filelistTableColumnSorter
    .anticon-caret-up.filelistTableColumnSorterIconActive,
.filelistTableColumnSorter
    .anticon-caret-down.filelistTableColumnSorterIconActive {
    color: var(--ant-color-primary);
}

.filelistTableColumnSorter .anticon-caret-up + .anticon-caret-down {
    margin-top: -0.4em;
}

.filelistTable {
    max-width: none;
    margin-bottom: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.filelistTable th,
.filelistTable td {
    box-sizing: border-box;
    height: 20px;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filelistTable th {
    position: relative;
    height: 30px;
    color: var(--ant-color-text-tertiary);
    font-weight: normal;
    font-size: 12px;
    background: var(--ant-color-bg-container);
    border-bottom: 0;
}

.filelistTable th:hover {
    background-color: var(--ant-color-fill-tertiary);
    cursor: pointer;
}

.filelistTable td {
    overflow: hidden;
}

.filelistTable th.filelistTableCellColCheckbox,
.filelistTable td.filelistTableCellColCheckbox {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.filelistTable th .filelistTableThBorderRight {
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 4px;
    left: auto;
    display: inline-block;
    width: 0;
    height: 22px;
    border-right: 1px solid var(--ant-color-border-secondary);
}

.filelistTable th .filelistResizeLine {
    top: 4px;
    right: -5px;
    bottom: 4px;
    left: auto;
    z-index: 1;
    display: inline-block;
    width: 10px;
    height: 22px;
    cursor: col-resize;
}

.filelistTable > tbody + tbody {
    border-top: 0;
}

.filelistTable > tbody > tr {
    border-top: 1px solid var(--ant-color-bg-container);
    cursor: pointer;
}

.filelistTable > tbody > tr > td {
    border-top: none;
}

.filelistTable > tbody > tr:hover > td {
    background-color: var(--ant-color-fill-quaternary);
}

.filelistTable > tbody > .hover > td {
    background-color: var(--ant-color-fill-quaternary);
}

.filelistTable > tbody > tr.filelistTableTrActive > td {
    background-color: var(--ant-control-item-bg-active);
}

.filelistTable > tbody > tr.dragging {
    opacity: 0.3;
}

.filelistTable > tbody > tr.filelistTableTrDragEnter {
    background-color: var(--ant-color-fill-quaternary);
    border-top: 1px solid var(--ant-color-primary);
    border-bottom: 1px solid var(--ant-color-primary);
    cursor: move;
}

.filelistTable
    > tbody
    > tr.filelistTableTrDragEnter.filelistTableTrActive
    > td {
    color: inherit;
    background-color: inherit;
    cursor: move;
}

.filelistLoadLayerHide {
    display: none;
}

.filelistLoadLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ant-color-bg-mask);
}

.filelistTableCellColCheckbox {
    text-align: center;
}

.filelistTableCellColCheckbox input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--ant-color-bg-container);
    border: 1px solid var(--ant-color-border);
    border-radius: 4px;
    outline: none;
    width: 14px;
    height: 14px;
    margin: 0;
    position: relative;
    top: 2px;
}

.filelistTableCellColCheckbox input[type="checkbox"]:checked {
    background: var(--ant-color-primary);
    border-color: var(--ant-color-primary);
}

.filelistTableCellColCheckbox input[type="checkbox"]:after {
    content: " ";
    border: 2px solid var(--ant-color-white);
    border-top: 0;
    border-left: 0;
    width: 5px;
    height: 8px;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
    display: table;
    position: absolute;
    top: 0px;
    left: 3px;
    transform: rotate(45deg) scale(0);
}

.filelistTableCellColCheckbox input[type="checkbox"]:checked:after {
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transform: rotate(45deg) scale(1);
}

.filelistTableCellColName {
    padding-left: 0;
    color: var(--ant-color-text);
    font-weight: 500;
    text-overflow: ellipsis;
}

.filelistTableCellColName .anticon {
    margin-right: 6px;
}

.filelistTableCellColMtime {
    padding-top: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-overflow: ellipsis;
}

.filelistTableCellColSize {
    padding-right: 10px;
    padding-left: 0;
    text-align: right;
}

.filelist:focus .filelistTable > tbody > tr.filelistTableTrActive > td,
.filelist:focus-within .filelistTable > tbody > tr.filelistTableTrActive > td {
    color: var(--ant-color-white);
    background-color: var(--ant-color-primary);
}

.filelist:focus .filelistTable > tbody > tr.filelistTableTrActiveBorder,
.filelist:focus-within .filelistTable > tbody > tr.filelistTableTrActiveBorder {
    box-sizing: border-box;
    outline: 1px solid var(--ant-color-primary);
}

.filelist:focus
    .filelistTable
    > tbody
    > tr.filelistTableTrActive
    > td
    input[type="checkbox"]:checked,
.filelist:focus-within
    .filelistTable
    > tbody
    > tr.filelistTableTrActive
    > td
    input[type="checkbox"]:checked {
    border-color: var(--ant-color-bg-container);
}
