.resizeLineHorizontal {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    cursor: ns-resize;
}

.resizeLineVertical {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    cursor: ew-resize;
}
